PYTHON_VERSION=3.14
PORTAINER_URL=http://localhost
KUBECTL_SHELL_IMAGE=example/kubectl-shell:latest
NON_SYSTEM_NAMESPACES=default
ENDPOINT_NAME=local
ENDPOINT_PUBLIC_URL=kubernetes.example.org
ENDPOINT_RESTRICT_DEFAULT_NAMESPACE=true
ENDPOINT_ALLOW_NONE_INGRESS_CLASS=true
